<app-header></app-header>

<section class="dash--section animated fadeInDown">

  <mat-card class="dash--card">

    <div class="dash--card-side">
      <mat-list>
        <div class="dash--card-side-item"><a target="_blank" href="http://dockerdeploy:7080">Live Dev Environment -
          http://dockerdeploy:7080</a></div>
        <div class="dash--card-side-item"><a target="_blank" href="http://dockerdeploy:11080">Live Test Environment -
          http://dockerdeploy:11080</a></div>
        <div class="dash--card-side-item">Item 3</div>

      </mat-list>
    </div>

    <div></div>

    <div class="dash--card-side">
      <mat-list>
        <div class="dash--card-side-item"><a target="_blank" href="http://dockerdeploy/mochatests">Mocha Tests
          Results</a>
        </div>
        <div class="dash--card-side-item">Item 5</div>
        <div class="dash--card-side-item">Item 6</div>
      </mat-list>
    </div>

  </mat-card>

  <div class="dash--subtitle">
    <h2>Deployment Options</h2>

  </div>

  <mat-card class="dash--card ">
    <button mat-raised-button (click)="openDialog()">Deploy to Test</button>
  </mat-card>

</section>


<footer class="footer">
  <img alt="Life" src="assets/coffee.png" class="footer--img animated jackInTheBox">

</footer>
