<div class="dash--header animated fadeInDownBig">

  <div class="dash--header-logo"><img src="http://www.griffiths-waite.co.uk/img/icon.png"></div>

  <div><h2>Developer Dashboard</h2></div>
</div>


<mat-card class="dash--card animated fadeInDown">

  <div class="dash--card-side">
    <mat-list>
      <div class="dash--card-side-item">Item 1</div>
      <div class="dash--card-side-item">Item 2</div>
      <div class="dash--card-side-item">Item 3</div>

    </mat-list>
  </div>

  <div></div>

  <div class="dash--card-side">
    <mat-list>
      <div class="dash--card-side-item">Item 4</div>
      <div class="dash--card-side-item">Item 5</div>
      <div class="dash--card-side-item">Item 6</div>
    </mat-list>
  </div>

</mat-card>

<mat-card class="dash--card animated fadeInDown">
  <h3>Deployment Options</h3>
  <button mat-raised-button (click)="openDialog()">Deploy to Test</button>
</mat-card>
