.dash {

  font-family: 'Open Sans', sans-serif;

  &--section {
    width: 80%;
    margin: auto;
  }

  &--subtitle {
    margin: auto;
    width: 85%;
    font-family: 'Nanum Gothic', sans-serif;

  }

  &--links {
    margin:auto;
    margin-bottom: 5%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &_link {
      color: black;
    }

  }

  &--card {
    margin: auto;
    margin-bottom: 5%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;

    &-side {
      width: 45%;
      text-align: center;

      &-item {
        padding-bottom: 10px;

        a {
          text-decoration: none;
        }

      }

    }

    &-center {
      background-color: white;
    }

  }

  &--verticalSpace{
    height: 5vh;
    width: 100%;

  }

}

.footer {
  width: 100%;
  text-align: center;

  &--img {


  }
}
