<app-header></app-header>

<section class="dash--section animated fadeInDown">


    <div class="dash--links">

      <a *ngFor="let pageLink of pageLinks"  class="dash--links_link" href="{{pageLink.url}}" target="_blank"><button mat-raised-button>{{pageLink.name}}</button></a>

    </div>



  <div class="dash--subtitle">
    <h2>Deployment Options</h2>
  </div>

  <div class="dash--verticalSpace"></div>

  <div *ngFor="let environment of environments">

    <div class="dash--subtitle">
      <h3>{{environment.name}}</h3>

    </div>
    <mat-card class="dash--card ">
    <p>
      {{environment.description}}
    </p>
    <button mat-raised-button (click)="openDialog(environment)">Deploy</button>
  </mat-card>

  </div>


</section>


<footer class="footer">
  <img alt="Life" src="assets/coffee.png" class="footer--img animated jackInTheBox">

</footer>
